<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875908822400-guiqb2849qpfsdhtqds7ro3svb5sli31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875908822400-guiqb2849qpfsdhtqds7ro3svb5sli31</string>
	<key>API_KEY</key>
	<string>AIzaSyDCDv6EPIT4z8XEt-B4m2ca14kp2oseMXk</string>
	<key>GCM_SENDER_ID</key>
	<string>875908822400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lfsantos.AustinWeirdSocial</string>
	<key>PROJECT_ID</key>
	<string>austin-weird-social</string>
	<key>STORAGE_BUCKET</key>
	<string>austin-weird-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875908822400:ios:35b8f13f7d7747141cbd65</string>
	<key>DATABASE_URL</key>
	<string>https://austin-weird-social.firebaseio.com</string>
</dict>
</plist>